<p>Thank you very much for your feedback. I appreciate any and all messages from readers but please understand that I cannot respond to all messages even though I do try to!</p>
<p>Thanks again and have a nice day!</p>
<p>Katherine</p>
