<p><h3>Resources for Multicultural People and Mixed Race Studies</h3></p>
<p>Below is a list of resources for mixed races studies. These sources are from third parties and are not affiliated with iammixed.com.</p>
<p>If you have an idea for a resource, you can sumbit it through the <%= link_to "contact", "/about" %> form.</p>
<a href="http://www.multiculturalbloggers.com"  target="_blank"><img src="http://i1.wp.com/www.multiculturalbloggers.com/wp-content/uploads/2011/07/multicultural-bloggers-125.png?resize=125%2C125" alt="Multicultural Bloggers" title="Multicultural Bloggers" data-recalc-dims="1" /></a>
