<div class="card">
  <div class="card-image">
    <%= image_tag story.image %>
  </div>
  <div class="card-header">
    <%= story.title %>
  </div>
  <div class="card-copy">
    <p><%= story.body %></p>
  </div>
  <div class="card-stats">
    <ul>
      <li><%= story.likes.count %><span>Likes</span></li>
      <li>298<span>Shares</span></li>
      <li><%= story.responses.count %><span>Responses</span></li>
    </ul>
  </div>
  <div class="card-footer">
    <ul>
      <% if signed_in? && current_user.likes?(story) %>
        <li><%= link_to "UnHeart it", [story, :like], method: :delete %></li>
      <% else %>
        <li><%= link_to "Heart it", [story, :like], method: :post %></li>
      <% end %>
    </ul>
    <%= form_for [story, @response] do |form| %>
      <%= form.text_area :body %>
      <%= form.submit "Respond" %>
    <% end %>
    <%= link_to "Click for more", story %>
  </div>
</div>
