.post {
  display: table;
  @include span-columns(12);
  @include clearfix;
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  border-radius: $base-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;
  min-height: 15em;

  .user-info {
    background: lighten($light-gray, 10);
    padding: 1em;
    display: table-cell;
    vertical-align:top;
    min-width: 15em;

    h4 {
      margin-bottom: .5em;
      text-align: center;
    }

    .forum-avatar {
      @include shift(.5);
      max-width: 90%;
      padding: 10%;
      border-radius: 100%;
      background: transparent;
      border: 3px solid $light-gray;

      &:hover {
        border: 3px solid $base-button-color;
      }
    }
  }

  .post-text {
    padding: 1em;
    vertical-align:top;
    display: table-cell;

    .time {
      font-weight: 700;
    }

    .post-body {
      min-height: 14em;
    }
  }
}

.reply-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.round-button {
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  border-radius: 100px !important;
  border-color: $hover-round-button-color;
  color: $hover-round-button-color;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-round-button-color;
    color: white;
  }
}
