.user-info {
  @include span-columns(3);
  background: lighten($light-gray, 10);
  padding: 1em;
}

.user-info h4 {
  @include shift(1.5);
}

.post-body {
  @include span-columns(8);
}

.post {
  @include span-columns(11);
  @include clearfix;
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  border-radius: $base-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;
}

.buttons {
  float: right;
}

.forum-avatar {
  @include shift(.5);

  max-width: 90%;
  padding: 10%;
  border-radius: 100%;
  background: transparent;
  border: 3px solid $light-gray;

  &:hover {
    border: 3px solid $base-button-color;
  }
}

.reply-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.round-button {
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  border-radius: 100px !important;
  border-color: $hover-round-button-color;
  color: $hover-round-button-color;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-round-button-color;
    color: white;
  }
}
