table tr th {
  background:$dark-gray;
  color:#fff;

  padding: 1em;
}

table tr td {
  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  padding: 1em;
}

table tr td.right {
  background: $light-gray;
}

table tr td h4 {
  margin:0;
  padding:0;
  font-weight: normal;
}

.user-info {
  @include span-columns(3);
  background: lighten($light-gray, 10);
  padding: 1em;
}

.user-info h4 {
  @include shift(1.5);
}

.post-body {
  @include span-columns(8);
}

.post {
  @include span-columns(11);

  $tab-border-color: $base-border-color;
  $tab-border: 1px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;

  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;
}

.buttons {
  @include span-columns(1);
  float: right;
}

.forum-avatar {
  max-width: 90%;
  padding: 9%;
  border-radius: 100%;
  background: $light-gray;
  @include shift(.5);
}

.reply-button {
  margin-top: 1em;
  margin-bottom: 1em;
}

.round-button {
  background-color: #FF7E21 !important;
  border-radius: 100px !important;
}
