.profile-photo {
  border-radius: 100%;
  max-width: 30%;
  padding: 3%;
  border-radius: 100%;
  background: $light-gray;
}

.profile-box {
  $tab-border-color: $base-border-color;
  $tab-border: 3px solid $tab-border-color;
  $tab-border-radius: $base-border-radius;
  $tab-content-background: lighten($tab-border-color, 10);
  $tab-active-color: $tab-content-background;
  $tab-inactive-color: $base-body-color;
  $vertical-tabs-height: em(300);
  $vertical-tab-mode: $medium-screen;
  padding: 2em;
  width: 90%;
  margin-top: 1em;

  @include clearfix;
  border-radius: $tab-border-radius;
  border: $tab-border;
  margin-bottom: $base-line-height;
  overflow: hidden;

  .profile-info {
    float:right;
    width: 75%;
  }

  input {
    display:inline;
  }

  fieldset {
    width: 50%;
    float: right;

    input {
      float:right;
    }
  }

  .tags {
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 50%;
    float:left;

    .tag {
      margin-top: .25em;
      margin-bottom: .25em;
    }
  }

  textarea {
    min-height: 150px;
    float: right;
  }
}
// Based on code by Jett Miller jettmiller.net
