.comments-container {
  @include span-columns(9);
  @include clearfix;
}

textarea#response_body {
 @include span-columns(9);
  display: inline;
}

.response-box {
  margin-top: 1em;
  padding-bottom: 2em;
}

.response-box .round-button {
  margin-top: .5em;
}

.tag {
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  background-color: $tag-color !important;
  border-radius: 100px !important;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: $hover-tag-color !important;
    color: white;
  }
}

$side-image-border: 1px solid $base-border-color;

.side-image {
  background: lighten($light-gray, 10);
  border-radius: $base-border-radius;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'),no-repeat $light-gray scroll);
    border-bottom: $side-image-border;
    background-size: cover;
    display: block;
    min-height: 12em;
    padding: 0em;

    @include media($large-screen) {
      @include span-columns(4);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .content {
    @include span-columns(4);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 4em 4em;
    }
  }

  .content h1 {
    margin-bottom: .9em;
  }

  .content h4 {
    background: $base-button-color;
    color: white;
    display: inline-block;
    font-size: .75em;
    font-weight: 800;
    margin-bottom: 1.3em;
    padding: 3px 8px;
    text-transform: uppercase;
    border-radius: $base-border-radius;
  }

  .content p {
    color: gray;
    margin-bottom: 3em;
  }

  .content button {
    @include button(simple, white);
    font-size: $base-font-size;
    outline: none;
  }

  .content .story-link {
    margin-top: 10em;
    float: right;
  }

  @include reset-display();
}
