<ul class="bottom-nav-menu">
  <li>© Sitename 2014</li>
  <li><%= link_to "Find people", root_path %> </li>
  <li><%= link_to "Advertise", root_path %></li>
  <li><%= link_to "Privacy", root_path %></li>
  <li><%= link_to "Terms", root_path %></li>
</ul>
