<div class="logo">
  <h1><%= link_to "logo", root_path %></h1>
  <% if signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "Admin Dashboard", :admin_dashboard %>
    <% end %>
    Hello, <%= current_user.email %>
    <%= link_to "Sign out", :session, method: :delete %>
  <% end %>
</div>
