<div class="logo">
  <%= link_to image_tag("/assets/i-am-mixed-logo.png"), root_path %>
  <% if signed_in? %>
    Hello, <%= current_user.email %>
    <%= link_to "Sign out", :session, method: :delete %>
  <% end %>
</div>
