<div class="search-bar">
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:query, nil, placeholder: "Try searching by story, tags, or responses!") %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
